---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../sections/Hero.astro"
import Services from "../sections/Services.astro"
import Features from "../sections/Features.astro"
import Testimonial from "../sections/Testimonial.astro"
import Cta from "../sections/Cta.astro"
import Gallery from "../sections/Gallery.astro"
---
<BaseLayout>
	<main class="px-4 md:px-8">
		<Hero />
		<Services />
		<Features />
		<Gallery />
		<Testimonial />
		<Cta />
	</main>
</BaseLayout>